<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (offre(); as offreRef) {
      <div>
        <h2 data-cy="offreDetailsHeading"><span jhiTranslate="ecomApp.offre.detail.title">Offre</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ offreRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="ecomApp.offre.description">Description</span></dt>
          <dd>
            <span>{{ offreRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="ecomApp.offre.geolocalisation">Geolocalisation</span></dt>
          <dd>
            <span>{{ offreRef.geolocalisation }}</span>
          </dd>
          <dt><span jhiTranslate="ecomApp.offre.isArchived">Is Archived</span></dt>
          <dd>
            <span>{{ offreRef.isArchived }}</span>
          </dd>
          <dt><span jhiTranslate="ecomApp.offre.utilisateur">Utilisateur</span></dt>
          <dd>
            @if (offre()!.utilisateur) {
              <div>
                <a [routerLink]="['/utilisateur', offre()!.utilisateur?.id, 'view']">{{ offreRef.utilisateur?.nom }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="ecomApp.offre.crise">Crise</span></dt>
          <dd>
            @if (offre()!.crise) {
              <div>
                <a [routerLink]="['/crise', offre()!.crise?.id, 'view']">{{ offreRef.crise?.nom }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/offre', offreRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
