<div>
  <h2 id="page-heading" data-cy="CriseHeading">
    <span jhiTranslate="ecomApp.crise.home.title">Crises</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="ecomApp.crise.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-crise"
        [routerLink]="['/crise/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ecomApp.crise.home.createLabel">Create a new Crise</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (crises().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="ecomApp.crise.home.notFound">No Crises found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.crise.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nature">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.crise.nature">Nature</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDebut">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.crise.dateDebut">Date Debut</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateFin">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.crise.dateFin">Date Fin</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isActive">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.crise.isActive">Is Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (crise of crises(); track trackId(crise)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/crise', crise.id, 'view']">{{ crise.id }}</a>
              </td>
              <td>{{ crise.nom }}</td>
              <td [jhiTranslate]="'ecomApp.TypeCrise.' + (crise.nature ?? 'null')">
                {{
                  {
                    null: '',
                    FEU_DE_FORET: 'FEU_DE_FORET',
                    INONDATION: 'INONDATION',
                    GLISSEMENT_DE_TERRAIN: 'GLISSEMENT_DE_TERRAIN',
                    ACCIDENT_INDUSTRIEL: 'ACCIDENT_INDUSTRIEL',
                  }[crise.nature ?? 'null']
                }}
              </td>
              <td>{{ crise.dateDebut | formatMediumDatetime }}</td>
              <td>{{ crise.dateFin | formatMediumDatetime }}</td>
              <td>{{ crise.isActive }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/crise', crise.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/crise', crise.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(crise)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (crises().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
